// ------------------------------------------------------------------
// Basic
// ------------------------------------------------------------------

h2 {
	$headeroffset:4px;
	margin:(($headersize - $headerlineheight) / 2 + $headeroffset)
		     0
         (($lineheight - $headersize) / 2 - $headeroffset + $lineheight);
	color:$grey;
	font-size: $headersize;
	font-weight: bold;
	line-height: $headerlineheight;
	min-height: 2 * $headerlineheight;
	}
p {
	margin: 0 0 $lineheight $left;
	&.note {
		color:lighten($grey, 25%);
		}
	}
