// ------------------------------------------------------------------
// Code
// ------------------------------------------------------------------

pre {
	margin:0 0 $lineheight;
	padding:8px 0 0;
	white-space:normal;
	tab-size:2;
	font-size:3/4*$fontsize;

	code {
		display:block;
		padding:0;
		background:none;
		line-height: $lineheight;
		white-space:pre;
		}

	// Marked
	mark {
		&.important {
			background:$color2;
			color:#FFF;
			}
		&.comment {
			padding:0;
			background:none;
			color:#999;
			}
		}
	}
