// ------------------------------------------------------------------
// Footer
// ------------------------------------------------------------------

footer {

	position:absolute;
	right:0;
	bottom:- $height;
	left:0;
	display:none;
	padding:41px 0 8px;
	background:rgba(lighten($color1, 35%), .9);
	transition:bottom 0.3s;
	* {
		pointer-events: auto !important;
	}

	// Content
	@import
		'inline-full';

	}

&:hover > footer {
	bottom:0;
	}
