// ------------------------------------------------------------------
// Lists
// ------------------------------------------------------------------

ol, ul {
	margin:0 0 0 $left;

	li {
		font-weight:bold;
		margin-bottom: $lineheight;
		page-break-inside:avoid;
	}

	ol, ul {
		li {
		font-size: 7/8*$fontsize;
		font-weight: normal;
		margin-bottom: 0;
		}
	}
}
