// ------------------------------------------------------------------
// Lists
// ------------------------------------------------------------------

ol, ul {
	margin:0 0 0 $left;

	li {
    font-weight:bold;
    min-height:2 * $lineheight;
		page-break-inside:avoid;
		}

	ol, ul {
		li {
			font-size: 7/8*$fontsize;
			font-weight: normal;
			min-height: auto;
      }
		}
	}
