// ------------------------------------------------------------------
// Quote
// ------------------------------------------------------------------

blockquote {
	font-style:italic;
	margin-left: $left;

	p {
		margin-left: 0;
		}

	// Author
	cite {
		margin:-1em 0 1em;
		font-style:italic;
			&:before {
				content: "—";
			}
		}

	}
