// ------------------------------------------------------------------
// Quote
// ------------------------------------------------------------------

blockquote {
	font-style:italic;
	padding: $lineheight $left;

	p {
		margin-left: 0;
		}

	// Author
	cite {
		font-style:italic;
			&:before {
				content: "—";
			}
		}

	}
