// ------------------------------------------------------------------
// Cover
// ------------------------------------------------------------------

img.cover, figure.cover img {
	position:absolute;
	top:50%;
	left:50%;
	z-index:-1;
	transform:translate(-50%, -50%);
	max-width:100%;
	max-height:100%;
}

// Fitting
img.cover.width, img.cover.w, figure.cover.width img, figure.cover.w img {
	width:100%;
	max-height:none;
}
img.cover.height, img.cover.h, figure.cover.height img, figure.cover.h img {
	height:100%;
	max-width:none;
}

figure.cover {
	// Watermark
	& figcaption {
		position:absolute;
		bottom:0px;
		right:0px;
		font-size:8pt;
		line-height:1;
		padding:5px 10px;
		color:white;
		background-color:rgba(black,0.5);
		font-weight: 300;

		// Links
		a {
			color:currentcolor;
			}
		}
	}
