// ------------------------------------------------------------------
// Fonts
// ------------------------------------------------------------------

$fontsize:32px;
$lineheight:42px;
$headersize:42px;
$headerlineheight:54px;

// Open Sans
@font-face {
	font-family:'Open Sans';
	src:url(../fonts/OpenSans.woff) format('woff');
	}
@font-face {
	font-weight:bold;
	font-family:'Open Sans';
	src:url(../fonts/OpenSans.Bold.woff) format('woff');
	}
@font-face {
	font-style:italic;
	font-family:'Open Sans';
	src:url(../fonts/OpenSans.Italic.woff) format('woff');
	}
@font-face {
	font-style:italic;
	font-weight:bold;
	font-family:'Open Sans';
	src:url(../fonts/OpenSans.Bold.Italic.woff) format('woff');
	}
@font-face {
	font-weight:300;
	font-family:'Open Sans';
	src:url(../fonts/OpenSans.Light.woff) format('woff');
	}

// Source Code Pro
@font-face {
	font-family:'Source Code Pro';
	src:url(../fonts/SourceCodePro.woff) format('woff');
	}
@font-face {
	font-weight:bold;
	font-family:'Source Code Pro';
	src:url(../fonts/SourceCodePro.Bold.woff) format('woff');
	}

